<!-- Toolbar -->
<app-toolbar [sidenav]="sidenav" (toggleSidenav)="sidenav.toggle()"></app-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div role="main">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div> -->